body {
    background: rgba(0, 110, 255, 0.247);
    font-family: Roboto;
    margin-left: 1.5%;
    margin-right: 3%;
    margin-top: 0%;
}
header{
    background: black;
    color: yellow;
    margin-bottom: 30px;
}
h1{
    color: yellow;
}
a{
    color: black;
    
}
footer{
    margin-top: 30px;
}